<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый читатель</title>
</head>
<body>
<div class="frame">
    <form th:method="POST" th:action="@{/theme}" th:object="${theme}">
        <label for="themeName">Введите название книги:</label>
        <input type="text" th:field="*{themeName}" id="themeName">
        <div class="error" th:if="${#fields.hasErrors('themeName')}" th:errors="*{themeName}">Title error</div>
        <br/>
        <label for="description">Введите имя и фамилию автора:</label>
        <input type="text" th:field="*{description}" id="description">
        <div class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Author error</div>
        <br/>

        <input type="submit" class="button" value="Добавить книгу">
    </form>
    <hr/>
    <div class="btn-group">
        <div class="button">
            <a th:href="@{/library/people}">Все читатели</a>
        </div>
        <div class="button">
            <a th:href="@{/theme}">Все книги</a>
        </div>
        <div class="button">
            <a th:href="@{/forum}">На главную</a>
        </div>
    </div>
</div>
</body>
</html>